APP_PORT=3000
NODE_ENV=development

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=<DATABASE_NAME>
DATABASE_USERNAME=<USERNAME>
DATABASE_PASSWORD=<PASSWORD>
DATABASE_SYNCHRONIZE=false # set to true if you want to sync the database, caution this will drop all tables and recreate them

ACCESS_TOKEN_SECRET=access-token-secret
ACCESS_TOKEN_EXPIRES_IN=access-token-expired-time
REFRESH_TOKEN_SECRET=refresh-secrect
REFRESH_TOKEN_EXPIRES_IN=refresh-token-expired-time
